.app-container {
    max-width: 60rem;
    margin: $med auto;
    padding: $lg;
    background: lighten($dark-grey, 5%);
    border-radius: 10px;
    border: 1px solid lighten($dark-grey, 25%);
}

.important-text {
    font-weight: 700;
}