.typing-area {
    outline: none;
    background: lighten($light-grey, 40%);
    padding: $sml;
    resize: none;
    width: 95%;
    margin: $med;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.text-to-copy {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: $light-grey;
    border-radius: 7px;
    padding-right: $sml;
    padding-left: $sml;
}

.correct-words {
    background-color: #3fa;
    color: $dark-grey;
}

.incorrect-words {
    background-color: #faa;
    color: $dark-grey;
}

.current-letter {
    background-color: darken($dark-grey, 25%);
    font-weight: 1000;
    border: 1px solid white;
}

.timer {
    // border: 1px solid $light-grey;
    background-color: $light-grey;
    border-radius: 7px;
    display: inline-flex;
    padding: $med;
    padding-bottom: $sml;
}
.timer--text {
    font-size: 4rem;
    margin: 0;
}

.timer--deciseconds {
    padding-top: $xlg;
    margin: 0;
    margin-left: $med;
    color: darken($almost-white, 25%);
}

// https://html-online.com/articles/blinking-text-css-animation/
.timer--hurryup {
    animation:blinkingText 0.5s infinite;
}

@keyframes blinkingText {
    0% { color: red; }
    50% { color: #faa; }
    100% { color: red; }
}

.stats {
    margin: 0;
    display: grid;
    padding: $med;
    margin-left: $med;
}

.stats--text {
    padding: 0;
    margin: 0;
}
