.typing-area {
    outline: none;
    background: lighten($light-grey, 40%);
    padding: $sml;
    resize: none;
    width: 95%;
    margin: $med;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.text-to-copy {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.correct-words {
    background-color: #3fa;
    color: $dark-grey;
}

.incorrect-words {
    background-color: #faa;
    color: $dark-grey;
}

.current-letter {
    background-color: darken($dark-grey, 25%);
    font-weight: 1000;
    border: 1px solid white;
}

.timer-text {
    font-size: 4rem;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 5px;
    width: 20%;
}